data/

*.exe
*.txt
*.csv
*.mp4
*.png
vis.html

Visualizer/.vs
Visualizer/Visualizer/bin
Visualizer/Visualizer/obj
ScoreCollector/.vs
ScoreCollector/ScoreCollector/bin
ScoreCollector/ScoreCollector/obj